.Courses{
    padding: 20px 10% 20px;
}
@media only screen and (max-width: 700px) {
    .Courses {
        padding: 20px 20px;
    }
    tr{
        font-size: small;
    }
}

tr{
    background-color: rgba(254,248,255,0.7);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
