.MyCourses{
    padding: 20px 10% 20px;
}

.editButton{
    text-align: "center" !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    line-height: "normal" !important;
   
}

.editButton:hover{
    cursor: pointer !important;
}
