.my-navbar{
    width: 100%;
    background-color: rgba(176,196,222,0.7);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#title{
    margin-left: 1rem;
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 20px;
    color: #071E4F;
}
@media only screen and (max-width: 440px) {
    #title{
        font-size: 15px;
    }
}
.navbar-brand{
    display: flex;
}
.nav-link{
    color: black !important;
    font-size: 15px;
}
.nav-link:hover{
    color: floralwhite !important;
    background-color: #071E4F;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.btn{
    color: floralwhite !important;
    background-color: #244180 !important;
    border: none !important;
}
.btn:hover{
    background-color: #071E4F !important;
}
